<!-- Web.Config Configuration File -->
<configuration>
    <system.webServer>
		 <rewrite>
			<outboundRules>
				<rule name="Overwrite gzip compression">
					<match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
					<conditions>
						<add input="{REQUEST_URI}" pattern="\.gz\.(.*)$" />
					</conditions>
					<action type="Rewrite" value="gzip"/>
				</rule>
				<rule name="Overwrite brotli compression">
					<match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
					<conditions>
						<add input="{REQUEST_URI}" pattern="\.br\.(.*)$" />
						<add input="{HTTP_ACCEPT_ENCODING}" pattern=".*br.*" />
					</conditions>
					<action type="Rewrite" value="br"/>
				</rule>
			</outboundRules>
		</rewrite>
	</system.webServer>
</configuration>